<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/ocrhome" color="secondary">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="primary" style="height: 97%;overflow: scroll;">
    <ion-grid>  
      <ion-row id="firstRow" style="height:15%;">
        <ion-col>
          <label>CNIE recto</label>
          
        </ion-col>
        <ion-col>
          <ion-fab vertical="center" horizontal="center">
            <ion-fab-button #button size="small" color="secondary" (click)="addPhotoToGallery(button)">
              <ion-icon name="camera"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
          <ion-img #a [src]="photo.webviewPath" (click)="showActionSheet(photo, position,button)"></ion-img>
          <ion-input color="primary" value="{{photo.webviewPath}}" id="url1">{{photo.webviewPath}}</ion-input>
          

        </ion-col>
      </ion-row>
      <div *ngIf="ok==true" [ngClass]="{'clicked':ok}"></div>
        <ion-row *ngIf="beenClicked==true" id="firstassia"  style="height:15%;">
          <ion-col>
            <label>CNIE verso</label>
            
          </ion-col>
          <ion-col>
            <ion-fab vertical="center" horizontal="center">
              <ion-fab-button disabled="true" #button2  size="small" color="secondary"  >
                <ion-icon name="camera"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="beenClicked==false" id="firstRow"  style="height:15%;">
          <ion-col>
            <label>CNIE verso</label>
            
          </ion-col>
          <ion-col>
            <ion-fab vertical="center" horizontal="center">
              <ion-fab-button #button2 size="small" color="secondary" (click)="addPhotoToGallery2(button2)" >
                <ion-icon name="camera"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
          
        </ion-row>
      
      <ion-row >
        <ion-col size="6" *ngFor="let photo2 of photo2Service.photos2; index as position">
          <ion-img  [src]="photo2.webviewPath2" (click)="showActionSheet2(photo, position,button2)"></ion-img>
          <ion-input color="primary" value="{{photo2.webviewPath2}}" id="url2">{{photo2.webviewPath2}}</ion-input>
        
        </ion-col>
      </ion-row>
      
      </ion-grid>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed" style="position: fixed;bottom: 5%;">
      <ion-fab-button color="secondary" id="sendButton"   (click)="valider()">
        <ion-icon name="checkmark-sharp" id="obtenirOtpLabel"></ion-icon>
        <ion-spinner name="circles" id="spinner" style="display: none;"></ion-spinner>
      </ion-fab-button>
    </ion-fab>
  
  
</ion-content>
