ion-card {
    height: 97%;
    border-radius: 20px;
    box-shadow: 2px 1px 5px 2px #c4c0d5;
    color: black;
}

ion-input {
    color: black;
    border: solid #855fa0;
}

h2 {
    text-align: center;
    font-weight: bold;
}

p {
    text-align: center;
}

input {
    background-color: white;
    margin: 0 6px;
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    border: solid 1px #ccc;
    box-shadow: 0 0 5px #ccc inset;
    outline: none;
    width: 13%;
    transition: all .2s ease-in-out;
    border-radius: 3px;
    // height: 55px;
}

#resend {
    color: #855fa0;
    text-decoration: none;
    margin-left: 5px;
}

#resend:hover,
#resend:active,
#resend:link {
    text-decoration: underline;
}

img {
    width: 100%;
    border-radius: 20px;
}

@media only screen and (max-width: 340px) {
    #inputColumn input {
        margin-right: 0px;
    }
}