ion-button{
    --background:#855fa0;
    font-family: Roboto-BoldItalic;
    float: right;
}
ion-content{
    font-family: Roboto-BoldItalic;
    
    ion-grid{
        margin-top:15%;
        h1{
            font-family: fantasy;
            font-size: xx-large;
            text-align: center;
            color: black;
        }
        #firstRow{
            margin-top: 15%;
        }
        ion-row{
            margin-bottom: 20px;
        }
        ion-label{
            font-size: large;
            font-weight: bold;
            color: black;
        }
    }
   
}
