<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title style="color: black;text-align: center;">Change mon mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary" style="height: 97%;overflow: scroll;">
    <ion-grid>
      <ion-row style="height:15%;margin-left: 10%;">
        <ion-col>
          <img src='../../../assets/images/choosepassword_1.jpg' />
        </ion-col>
      </ion-row>

      <ion-row style="height:15%;">
        <ion-col>
          <ion-item color="primary">
            <ion-input min="8" placeholder="Tapez votre mot de passe Ici" required
              (ionChange)='onChangeTime(password,checkLen,checkSym,checkNom)' type="password" id="password" #password
              color="secondary" [(ngModel)]="userModel.password">
              <ion-icon name="lock-closed-outline" style="margin-right: 5px;"></ion-icon>
            </ion-input>
            <ion-icon (click)="showPassword(eye,password)" #eye name="eye-outline" color="secondary"
              style="float: right;"></ion-icon>
          </ion-item>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col>
          <small class="text-danger w3-text-red  " *ngIf="errorMessage">{{errorMessage}}</small>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-checkbox #checkLen disabled [ngClass]="{'checked':beenchecked}"></ion-checkbox>

          <ion-label> Au moins 8 caractères</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-checkbox #checkSym disabled [ngClass]="{'checked':beenchecked}"></ion-checkbox>

          <ion-label> Contient un symbole</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-checkbox #checkNom disabled [ngClass]="{'checked':beenchecked}"></ion-checkbox>

          <ion-label> Contient un nombre</ion-label>
        </ion-col>
      </ion-row>

      <ion-row style="position: fixed; bottom: 25px;width:90%;" id="fixed_row">
        <ion-toolbar color="primary">
          <ion-button color="secondary" id="sendButton" expand="block" shape="round"
            (click)="OK(password,checkLen,checkSym,checkNom)">
            <ion-label style="color: white;" id="obtenirOtpLabel">Ok</ion-label>
            <ion-spinner name="circles" id="spinner" style="display: none;"></ion-spinner>
          </ion-button>
        </ion-toolbar>
      </ion-row>

    </ion-grid>
  </ion-card>
</ion-content>