<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding ion-text-center" >
  <!-- <img src="../../assets/icon/image.jpeg" class="logo"/> -->
<ion-grid style="height:100%;">
  <ion-row style="height:33%;">
  </ion-row>
  <ion-row style="height:43%;">
    <ion-col>
      <div class="title" style="margin-top: 20%;">
        <h2 >Bienvenue</h2>
        <p>où vous obtenez votre prêt <br>
        facilement, rapidement et en toute sécurité</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row style="height:23%;">
    <ion-col>
      <!-- <ion-toolbar position="bottom">   style="margin-top: 40%;"-->
        <ion-button color="primary" expand="block"  shape="round" routerLink="/simulate-op" 
        fil="outline" >
        <span style="color: #5e68d9;">Commonçons-nous</span>
          <ion-icon slot="end" style="color: #5e68d9;" name="arrow-forward" id="arrow"  ></ion-icon>
        </ion-button>
      <!-- </ion-toolbar> -->
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<!-- <ion-footer no-shadow class="ion-no-border">
	<ion-toolbar position="bottom" color="primary">
    <ion-button color="primary" expand="block"  shape="round" routerLink="/simulate" 
    fil="outline" >
    <span style="color: cadetblue;">Commonçons-nous</span>
      <ion-icon slot="end" color="secondary" name="arrow-forward" id="arrow"  ></ion-icon>
    </ion-button>
	</ion-toolbar>
</ion-footer> -->