<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title style="color: black;text-align: center;">Oublier mot de passe</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/login" color="secondary">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="first" *ngIf="urlChange=='first'" color="primary" style="height: 97%;overflow: scroll;background-color: white;">
    <ion-grid class="first">
      <form  (ngSubmit)="passwordSend()">
        <ion-row style="height:12%;padding: 20px;height: 25%;">
          <ion-col>
            <!-- <h1 style="border: none;">Oublier Votre Mot De Passe ?</h1> -->
            <img src="../../../assets/images/forgotPassword_1.jpg" style="border-radius: 20px;">
            <center>
            <small style="text-align: center;">
              Veuillez indiquer le nom d’utilisateur ou l’adresse courriel 
              que vous avez utilisé lorsque vous vous êtes inscrit à votre compte.
            </small>
          </center>
          </ion-col>
        </ion-row>
        <ion-row style="height: 25%;">
          <ion-col>
            <ion-item  style="--background: white;">
              <!-- <ion-label position="floating">Email</ion-label> -->
              <ion-input [(ngModel)]="user.email" type="email" required
               #email="ngModel" name="email" placeholder="Email" (ionChange)="ionChange()">
               <ion-icon color="secondary" name="mail" style="margin-right: 10px;"></ion-icon>
              </ion-input>
            </ion-item>
            
          </ion-col>
        </ion-row>
        <ion-row style="height:18%;max-height: 18%;">
          <ion-col>
            <!-- <p >{{errorMessage}}</p> -->
            <ion-chip id="chip1"  outline="true" style="width: 97%;display: none;" >
              <ion-icon name="warning" color="secondary" ></ion-icon>
              <ion-label style="text-align: center;">{{errorMessageMail}}</ion-label>
              <ion-icon name="close" color="secondary" (click)="closeChip1()"></ion-icon>
            </ion-chip>
            
          </ion-col>
        </ion-row>

        
        
        <ion-row style="height: 25%;">
          <ion-col>
            <ion-button type="submit" id="EnvoyerButton" shape="round" expand="block">
              <ion-label style="color: white;font-weight: bold;" id="obtenirEnvoyerLabel">Envoyer</ion-label>
              <ion-spinner name="circles" id="spinnerEnvoyer" style="display: none;"></ion-spinner>
            </ion-button>
            <!-- <br> -->
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </ion-card>


<!-- verify otp -->
<ion-card class="verifyotp" *ngIf="urlChange=='verifyotp'" color="primary" style="height: 97%;overflow: scroll;">
  <ion-grid  class="verifyotp">

    <ion-row style="height:18%;max-height: 18%;">
      <ion-col>
        <img src='../../../assets/images/receiveEmail_6.jpg'/>
      </ion-col>
    </ion-row>

    <ion-row  style="height:18%;max-height: 18%;">
      <ion-col >
        <h2>Vérification de l'OTP</h2>
        <p>Entrez l'OTP envoyé à l'email <span style="font-weight: bold;">{{user.email}}</span></p>
      </ion-col>
    </ion-row>
    <div style="margin-bottom: -10px;"></div>
    <ion-row style="height:18%;max-height: 18%;">
      <ion-col>
          <input type="tel" name="first" id="first"  (keyup)="keytab($event,$event)" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
          <input type="tel" name="second" id="second" (keyup)="keytab($event,$event)" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
          <input type="tel" name="third" id="third"  (keyup)="keytab($event,$event)" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
          <input type="tel" name="fourth" id="fourth"  (keyup)="keytab($event,$event)" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
          <input type="tel" name="fifth" id="fifth"  (keyup)="keytab($event,$event)" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
          <input type="tel" name="sixth" id="sixth" style="margin-right: 0px;" (keyup)="keytab($event,$event)" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
      </ion-col>
    </ion-row>

    <ion-row style="height:18%;max-height: 18%;">
      <ion-col>
        <!-- <p >{{errorMessage}}</p> -->
        <ion-chip id="chip2"  outline="true" style="width: 97%;display: none;" >
          <ion-icon name="warning" color="secondary" ></ion-icon>
          <ion-label style="text-align: center;">{{errorMessage}}</ion-label>
          <ion-icon name="close" color="secondary" (click)="closeChip2()"></ion-icon>
        </ion-chip>
        <p>n’a pas reçu l’OTP ? <a (click)="sendOtpAgain()" style="cursor: pointer;"> Renvoyer l'OTP</a> <span id="otpSent"></span></p>
      </ion-col>
    </ion-row>

   
    <ion-row style="position: fixed; bottom: 15px;width:90%;">
        <ion-toolbar color="primary">
          <ion-button disabled color="secondary"  expand="block"  id="verify" shape="round" (click)="verifyOTP($event)">
            <ion-label id="obtenirverifyLabel">Vérifier</ion-label>
            <ion-spinner name="circles" id="spinnerverify" style="display: none;"></ion-spinner>
            <!-- <ion-icon name="reload-circle-outline" style="width:20px"></ion-icon> -->
          </ion-button>
      </ion-toolbar>
    </ion-row>
  
    </ion-grid>
  </ion-card>

  <!-- password -->

  <ion-card class="password" *ngIf="urlChange=='password'" color="primary" style="height: 97%;overflow: scroll;">
    <ion-grid  class="password">  
      <ion-row style="height:15%;margin-left: 10%;">
        <ion-col>
          <img src='../../../assets/images/choosepassword.png'/>
        </ion-col>
      </ion-row>
  
      <ion-row  style="height:15%;">
        <ion-col>
          <h2 style="text-align: center;">Crier Mon Nouveau Mot De Passe</h2>
          <ion-item color="primary">
            <ion-input min="8" required (ionChange)='onChangeTime(password,checkLen,checkSym,checkNom)' type="password" id="password" #password color="secondary" [(ngModel)]="user.password">
              <ion-icon name="lock-closed-outline" style="margin-right: 5px;"></ion-icon>
              </ion-input><ion-icon (click)="showPassword(eye,password)" #eye name="eye-outline" color="secondary" style="float: right;"></ion-icon>
          </ion-item>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <small class="text-danger w3-text-red  " *ngIf="errorMessagere">{{errorMessagere}}</small>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-checkbox #checkLen disabled [ngClass]="{'checked':beenchecked}"></ion-checkbox >

          <ion-label>  Au moins 8 caractères</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-checkbox #checkSym disabled [ngClass]="{'checked':beenchecked}"></ion-checkbox >

          <ion-label>  Contient un symbole</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-checkbox #checkNom disabled [ngClass]="{'checked':beenchecked}"></ion-checkbox >

          <ion-label>  Contient un nombre</ion-label>
        </ion-col>
      </ion-row>
     
      <ion-row style="position: fixed; bottom: 25px;width:90%;">
          <ion-toolbar color="primary">
            <ion-button color="secondary" id="okButton"  expand="block"  shape="round" (click)="OK(password,checkLen,checkSym,checkNom)">
              <ion-label style="color: white;font-weight: bold;" id="obtenirOkLabel">Ok</ion-label>
              <ion-spinner name="circles" id="spinnerOk" style="display: none;"></ion-spinner>
             </ion-button>
        </ion-toolbar>
      </ion-row>
    
      </ion-grid>
    </ion-card>
</ion-content>