ion-content{
    font-family: Roboto-BoldItalic;
    ion-button{
        --background:#855fa0;
        font-family: Roboto-BoldItalic;
    }
    ion-card{
        height: 96%;
        border-radius: 20px;
        box-shadow: 2px 1px 5px 2px #c4c0d5;
    }
    ion-grid.first{
        color: black;
        h1{
            font-family: fantasy;
            // font-family:  BeautifulPeoplePersonalUse ;
            font-size: xx-large;
            text-align: center;
            padding-bottom: 20px;
            border-bottom:solid #c6aed7;
        }
        ion-label{
            font-size: large;
            font-weight: bold;
        }
        ion-input{
            color: black;
            
        }
    }
}

ion-item{
    --highlight-color-invalid: #855fa0;
    --highlight-color-valid: #855fa0;
}

    
    ion-grid.password{
        // margin-top:50px;
        padding-left: 10px;
        color: black;
        h1{
            font-family: fantasy;
            font-size: xx-large;
            text-align: center;
        }
        #firstRow{
            margin-top: 50px;
        }
        ion-label{
            // font-size: large;
            font-size: 12px;
            color: black;
        }
        
    }
   

ion-checkbox{
    --border-color:#855fa0;
    --border-radius:7px;
    --size:14px;
}

.checked {
    //--background: red;
    --checkmark-color:#9b1ff3;
  }


  ion-card.verifyotp{
    color:black ;
    ion-input{
        color:black ;
        border: solid #855fa0;
    }
    h2{
        text-align: center;
        font-weight: bold;
    }
    p{
        text-align: center;
    }
    input{
        background-color: white;
        margin: 0 6px;
        text-align: center;
        line-height: 80px;
        font-size: 50px;
        border: solid 1px #ccc;
        box-shadow: 0 0 5px #ccc inset;
        outline: none;
        width: 13%;
        transition: all .2s ease-in-out;
        border-radius: 3px;
        // height: 55px;
    }
    a{
        color: #855fa0;
        text-decoration: none;
        margin-left: 5px;
    }
    a:hover{
        color: #9b1ff3;
        text-decoration: none;
        margin-left: 5px;
        font-size: 16px;
    }
    img{
        width: 100%;
    }
}



ion-card.otp{
    color:black ;
}
ion-input.otp{
    color:black ;
}
h2.otp{
    text-align: center;
    font-weight: bold;
}
p.otp{
    text-align: center;
}
img.otp{
    width: 100%;
}