ion-content{
    font-family: Roboto-BoldItalic;
    ion-button{
        --background:#855fa0;
        font-family: Roboto-BoldItalic;
    }
    ion-card{
        height: 97%;
        border-radius: 20px;
        box-shadow: 2px 1px 5px 2px #c4c0d5;
    }
    ion-grid{
        color: black;
        h1{
            font-family: Roboto, "Helvetica Neue", sans-serif;
            // font-family:  BeautifulPeoplePersonalUse ;
            font-size: xx-large;
            text-align: center;
            padding-bottom: 20px;
            border-bottom:solid #c6aed7;
        }
        ion-range{
            color: #855fa0;
            padding-top: 10px;
        }
        ion-label{
            font-size: large;
            font-weight: bold;
        }
        ion-col ion-button{
            float: right;
        }
    }
    img{
        border-radius: 20px;
    }
}