<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-title style="color: black;text-align: center;">Se connecter</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/simulate-op" color="secondary">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card  color="primary" style="height: 95%;background-color:white;">
  <ion-grid>
    <ion-row id="header">
      <ion-col>
          <!-- <h1 style="text-align: center;">
            <span style="right: -82px;position: relative;top: 100px;transform: rotateZ(-27deg);"><ion-icon name="lock-open-sharp"></ion-icon></span>
            <span>Connecter à votre Compte</span>
            <span style="position: relative;top: -50px;left: -83px;transform: rotateZ(35deg);"><ion-icon name="lock-closed-sharp"></ion-icon></span>
          </h1> -->
          <img src="../../../assets/images/foundPassword.jpg" style="border-radius: 20px;">
        </ion-col>
    </ion-row>

    <form id="form" #userlogin="ngForm" style="margin-top:10px ;"  (ngSubmit) = "onSubmit()" autocomplete="off">

    <ion-row>
      <ion-col>
        <ion-item  style="--background:white;">
          <ion-input [(ngModel)]="userModel.email" 
          pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
          placeholder="Email" type="email" name="email" required id="email"
          #email="ngModel" [class.is-invalid]="email.invalid && email.touched" required
          (ionChange)="ionChange()"></ion-input>
        </ion-item >
        <div style="padding: 10px 25px;margin: 0px;" class="alert" *ngIf="email.errors && (email.invalid || email.touched) || errorMessageMail">
          <small class="text-danger" *ngIf="email.errors.required">Email est nécessaire.</small>
          <small class="text-danger " *ngIf="email.errors.pattern">Veuillez fournir une adresse courriel valide.</small>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item style="--background:white;">
          <ion-input [(ngModel)]="userModel.password"  expand="block"  id="password" placeholder="Mot de Passe" 
          type="password" name="password" required  minlength="8" #password="ngModel" 
          [class.is-invalid]="password.errors" (ionChange)="ionChange()">
        </ion-input>
        <ion-icon name="eye-outline" (click)="appearOrNot(password)" #icon style="width: 20px;height: 20px;"></ion-icon>
        </ion-item>
        <div class="alert" *ngIf="password.errors || Messages" style="padding: 10px 25px;margin: 0px;">
          <small class="text-danger " *ngIf="password.errors.required">Mot de Passe est nécessaire.</small>
          <small class="text-danger "  *ngIf="password.errors?.['minlength']">Le mot de passe doit compter au moins 8 caractères.</small>
          
        </div>
        <br>
        <ion-chip id="chip"  outline="true" style="width: 97%;display: none;" >
          <ion-icon name="warning" color="secondary" ></ion-icon>
          <ion-label style="text-align: center;">{{errorpassword}}</ion-label>
          <ion-icon name="close" color="secondary" (click)="closeChip()"></ion-icon>
        </ion-chip>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button type="submit" id="submit" color="secondary"  expand="block"  shape="round">
          <span >Se Connecter</span>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row style="height:50px;">
      <ion-col style="text-align: center;">
        <a [routerLink]="['/forgot-password']" class="small-text" >Oublier Votre Mot de Passe?</a>
      </ion-col>
    </ion-row>
    
  </form>
  </ion-grid>
  </ion-card>
</ion-content>
