<ion-header class="ion-no-border" >
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;color:black;">Envoyer OTP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary" style="height: 97%;overflow: scroll;">
  <ion-grid>

    <ion-row style="height:15%;">
      <ion-col>
        <img src='../../../assets/images/sendEmail.jpg'/>
      </ion-col>
    </ion-row>

    <ion-row  style="height:15%;">
      <ion-col>
        <h2>Vérification de l'OTP</h2>
        <p>nous vous enverrons un <span style="font-weight: bolder;">One Time Password</span>  sur cet email:</p>
        <ion-item color="primary">
          <ion-input type="text" disabled id="email" color="secondary">
            <ion-icon name="mail-outline" style="margin-right: 5px;"></ion-icon>
            {{userEmail.email}}</ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

   
    <ion-row style="position: fixed; bottom: 25px;width:90%;" id="fixed_row">
        <ion-toolbar color="primary">
          <ion-button color="secondary" id="sendButton"  expand="block"  shape="round" (click)="sendOTP()">
            <ion-label id="obtenirOtpLabel">Obtenir OTP</ion-label>
            <ion-spinner name="circles" id="spinner" style="display: none;"></ion-spinner>
            <!-- <ion-icon name="reload-circle-outline" style="width:20px"></ion-icon> -->
          </ion-button>
      </ion-toolbar>
    </ion-row>
  
    </ion-grid>
  </ion-card>
</ion-content>