ion-card {
    color: black;
    height: 97%;
    border-radius: 20px;
    box-shadow: 2px 1px 5px 2px #c4c0d5;
}

ion-input {
    color: black;
}

h2 {
    text-align: center;
    font-weight: bold;
}

p {
    text-align: center;
}

img {
    width: 100%;
    border-radius: 20px;
}